// Colors
$body-color: #373A3F;

$white: #FFFFFF;
$grey-text: #949494;
$error-color: red;

$grey: #303135;
$grey-light: #C4C4C4;
$grey-dark: #1F1F21;

$card-orange: #ED844D;
$card-blue: #4291BC;
$card-yellow: #EDCD52;
$card-green: #54B16A;

// Size
$large-size: 1920px;
$big-size: 1439px;
$medium-size: 1023px;
$small-size: 759px;